.Button {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .55rem .9rem;
  font-size: 1rem;
  color: white;
}

.IndexPageBotton {
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .7rem;
  padding: .55rem .9rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.UserButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  border: 1px solid transparent;
  cursor: pointer;
  height: 1.7rem;
  border-radius: .5rem;
  color: inherit;
  font-size: .8rem;
  font-weight: 600;
  padding: 0 1rem;
}

.LinkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  border: 1px solid transparent;
  cursor: pointer;
  height: 1.7rem;
  border-radius: .5rem;
  color: var(--gray-font-color);
  font-size: .8rem;
  font-weight: 600;
}

.BasicBotton {
  border: 1px solid transparent;
  cursor: pointer;
  height: 1.7rem;
  width: 5rem;
  border-radius: .5rem;
  color: inherit;
  font-size: .8rem;
  font-weight: 600;
}

.LangBotton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: .3rem;
  border: 1px solid #343434;
  cursor: pointer;
  height: 1.7rem;
  width: 100%;
  border-radius: .2rem;
  color: #a8a8a8;
  font-weight: 600;
  font-size: .8rem;
  margin: .5rem .5em;
}
.LangBotton:hover {
  color: #ffffff;
}

.ActivatedLangBotton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  border: 1px solid #343434;
  background-color: #2a2a2a;
  cursor: pointer;
  height: 1.7rem;
  width: 100%;
  border-radius: .2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: .8rem;
  margin: .5rem .5em;
}

.FileSelectButton {
  display: flex;
  gap: .8rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .7rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}


.ServiceSettingDropdown {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 1rem .9rem;
  font-size: 1rem;
  color: white;
}

.red {
  background-color: var(--red-btn-color);
}
.red:hover {
  background-color: var(--red-btn-hv-color);
}

.gray {
  background-color: var(--gray-btn-color);
  color: var(--gray-font-color);
}
.gray:hover {
  background-color: var(--gray-btn-hv-color);
}

.green {
  background-color: var(--green-btn-color);
}
.green:hover {
  background-color: var(--green-btn-hv-color);
}

.transparent {
  background-color: transparent;
  border-color: #545454;
}
.transparent:hover {
  color: #717171;
  background-color: #303030;
}

.wide {
  width: 100%;
}
