.NavbarContainer {
  display: flex;
  background-image: linear-gradient(
    45deg,
    var(--bg-color),
    var(--bg-color-end)
  );
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.5rem;
  position: fixed;
  height: 2rem;
  border-bottom: 1px solid var(--bg-border-color);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.NavbarContent {
  --padding: 1rem;
  --hd-hv-color: var(--basic-hv-color);
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
  font-size: .8rem;
  font-weight: 500;
}


.NavbarStart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MenuButton {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: inherit;
  margin-right: 1rem;
  cursor: pointer;
}
.MenuButton:hover {
  color: var(--hd-hv-color);
}
.Logo {
  font-size: 1.25rem;
  font-weight: bold;
}
.Logo a {
  text-decoration: none;
  color: inherit;
  padding-right: 2.8rem;
}
.Logo:hover {
  color: var(--hd-hv-color);
}


.NavbarMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  padding: 0;
  padding-left: 1.5rem;
}
.NavbarMiddle li a {
  text-decoration: none;
  color: var(--gray-font-color);
  font-size: inherit;
  font-weight: inherit;
}
.NavbarMiddle li a:hover {
  color: var(--gray-font-hv-color);
}


.NavbarEnd {
  display: flex;
  list-style: none;
  gap: .5rem;
  padding: 0;
  padding-left: 20rem;
}
.NavbarEnd li a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
.NavbarEnd li a:hover {
  color: var(--hd-hv-color);
}

.NavbarUser {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: .5rem;
  padding: 0;
  padding-left: 20rem;
  font-size: inherit;
  font-weight: inherit;
}
.NavbarUser ul {
  --bd-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border-radius: .35rem;
}
.NavbarUser li {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border-radius: .35rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.NavbarUser ul > li:not(:last-child) {
  border-bottom: 1px solid var(--bd-color);
}
.NavbarUser a {
  display: flex;
  gap: .5rem;
  align-items: center;
  text-decoration: none;
  color: #141414;
}
.NavbarUser li:hover {
  background-color: var(--hd-hv-color);
}