.SigninFormContent {
    min-width: 400px;
    background-color: #404040;
    color: var(--basic-font-color);
    margin-top: var(--content-margin);
    padding: 1rem 2rem;
    border-radius: .3rem;
}
.SigninFormContent h1 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.SigninFormGroupContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 100%;
}
.SigninFormGroupContainer label {
    margin-bottom: .7rem;
    font-size: .85rem;
    font-weight: 400;
    color: inherit;
}
.SigninFormGroupContainer div {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: inherit;
    border: 1px solid #5d5d5d;
    border-radius: .35rem;
    padding: .7rem 1rem;
    font-size: .85rem;
}
.SigninFormGroupContainer input {
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    width: 100%;
    height: 100%;
}
.SigninFormGroupContainer button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
}
.SigninFormGroupContainer button:hover {
    color: #6a6a6a;
}
.SiginFormAction {
    display: flex;
    justify-content: end;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #5d5d5d;
}
