.container {
  width: 100%;
  display: flex;
  background-color: #1e1e1e;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
}
.content {
  margin: .5rem;
}

.video {
  width: 100%;
  border-radius: .5rem .5rem 0 0;
  background-color: inherit;
  display: block;
}

.controls {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 .5rem .5rem;
  gap: 12px;
  padding: 16px;
  background-color: #252525;
}

.controlButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #484848;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

.playButton:hover {
  background-color: #3d3d3d;
}

.videoSettingControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .2rem;
}

.subtitleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #484848;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  width: 2rem;
  height: 2rem;
}

.subtitleButton:hover {
  background-color: #3d3d3d;
}

.progress {
  appearance: none;
  width: 100%;
  height: .5rem;
  background: linear-gradient(to right, #7d2020ff 0%, #333 0%);
  outline: none;
  cursor: pointer;
  transition: .3s ease;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #7d2020ff;
  cursor: pointer;
}

.progress::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #7d2020ff;
  cursor: pointer;
}

.volumeSlider {
  width: 0rem;
  height: .25rem;
  appearance: none;
  background: #555;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
}
.show {
  width: 5rem;
  margin: 0 .8rem;
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.hide {
  opacity: 0;
  transform: translateX(-50px);
  pointer-events: none;
}

.volumeSlider::-webkit-slider-thumb {
  appearance: none;
  height: .6rem;
  width: .6rem;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
  height: .6rem;
  width: .6rem;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.ScriptContainer {
  display: flex;
  flex-direction: column;
  width: 60rem;
  border-radius: .5rem;
  margin: .5rem;
  background-color: #252525;
}
.Script {
  margin: 1rem;
}
.ScriptHeader {
  display: flex;
  justify-content: space-between;
}
.ScriptHeader h1 {
  margin: 0;
  font-size: 1.2rem;
}
.ScriptHeader button{
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 1.2rem;
}
.ScriptHeader button:hover{
  color: #b0b0b0;
}
.Script ul {
  display: flex;
  flex-direction: column;
  height: 24rem;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  gap: 1rem;
}
.Script ul li {
  display: flex;
  margin: .5rem 0;
  padding: .5rem;
  gap: 1rem;
}
.Script ul li:hover {
  background-color: #505050;
}
.ScriptContentRowTime {
  background-color: #263850;
  color: #3EA6FF;
  padding: 0 .4rem;
  border-radius: .2rem;
}
.ScriptContentRowText {
  width: 100%;
  word-break: break-word;
  margin-right: 1rem;
}
