.VideoStackContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    color: #202020;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    text-align: left;
}

.videoStack {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.videoCard {
  padding-bottom: 20px;
}

.videoItem {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 500px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  color: inherit;
}

.videoItem:hover {
  background-color: #f2f2f2;
}

.videoTitle {
  font-size: 14px;
  font-weight: bold;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.videoDescription {
  font-size: 14px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #656565;
}

.videoLength {
  font-size: 12px;
  color: #b53836;
}

.UpdateButton {
  align-self: center;
  font-size: 14px;
  color: #222;
}

.UpdateButton:hover {
  color: gray;
}

.UserPageMenu {
  position: absolute;
  border: 1px solid black;
  height: 100%;
  width: 150px;
  margin-right: 50px;
  top: 40px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  list-style: none;
}

.UserPageLayout {
  display: flex;
  min-width: 1000px;
  max-width: 1280px;
  justify-self: center;
}

.MenuHeader {
  font-size: 14px; 
  color: #5a5a5a;
  margin-bottom: 10px; 
  margin-top: 10px;
  font-weight: 600;
}

.MenuItem {
  color: #202020;
  font-size: 14px;
  padding: 8px 0;
}

.MenuItem:hover {
  color: gray;
}
